body{
    background-color: rgb(172, 234, 234);
    text-align: center;
}
h1{
    color:rgb(150, 150, 215);
}
button{
    width: 100px;
    border-radius: 20px;
    font-size: 16px;
}
button:hover
{
    background-color: blueviolet;
    cursor: pointer;
    transition: 3ms;
}