body
{
    background-color: aqua;
    color: brown;
}
p{
    background-color: yellow;
    color: violet;
}
#a{
background-color: blueviolet;
color: lightblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.z{
    background-color: palegreen;
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;

}