button{
     background-color: blue;
     border-radius: 50px;
margin-left: 45%;
margin-top: 35%;
     transition: 3s;

}
button:hover
{
 background-color: yellow;
 color: blue;
 cursor: pointer;
 width: 80px;
 height: 20px;
 font-size: larger;
}